
/* Style to position the picker */
  #emoji-picker-wrapper {
	position: absolute;
	display: none;
	z-index: 1000;
}
.inputWrapper {
	position: relative;
	margin-bottom: 100px; /* Adjust as needed */
}
#quoted-message {
display: flex;
align-items: center;
background-color: #E5E7E9;
padding: 5px;

border-radius: 10px;
margin-bottom: 0px;
position: relative;
overflow: hidden; /* Ensure content does not overflow */
}
.audio-width{
	width: 25% !important;
	}
#quoted-message::before {
content: "";
position: absolute;
top: 0;
left: 0;
bottom: 0;
width: 3px; /* Border width */
background-color: #1DAB61; /* Border color */
border-top-left-radius: 10px; /* Rounded corner on top */
border-bottom-left-radius: 10px; /* Rounded corner on bottom */
z-index: 1; /* Ensure it is above other content */
}
#quoted-messages {
	display: flex;
	align-items: center;
	background-color: #E5E7E9;
	padding: 5px;

	border-radius: 10px;
	margin-bottom: 0px;
	position: relative;
	overflow: hidden; /* Ensure content does not overflow */
	}

	#quoted-messages::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 3px; /* Border width */
	background-color: #1DAB61; /* Border color */
	border-top-left-radius: 10px; /* Rounded corner on top */
	border-bottom-left-radius: 10px; /* Rounded corner on bottom */
	z-index: 1; /* Ensure it is above other content */
	}






		.quoted-content {
			flex-grow: 1;
			padding-left: 1.5%;
		}

		.sender-name {
			color: #2e7d32;
			font-weight: bold;
			display: block;
		}

		.quoted-text {
			margin: 5px 0 0 0;
			color: #555;
		}

		.close-quoted {
			color: #777;
			cursor: pointer;
			margin-left: 10px;
			font-size: 16px;
			position: absolute;
			right: 10px;
			top: 10px;
		}


		/*Model Popup */
.modal-body {
	border-bottom: none;
	text-align: center;
	padding: 2rem;
  }

  .modal-body svg {
	height: 86px;
	width: 86px;
  }

  .modal-footer {
	border-top: none;
	justify-content: center;
  }

  .btn-delete {
	background-color: #ff3b30;
	color: white;
	border: none;
  }

  .btn-cancel {
	background-color: #34c759;
	color: white;
	border: none;
  }

  .modal-content {
	border-radius: 10px;
	width: 80%;
  }

  h5 {
	font-size: 18px;
	font-weight: 700;
	color: #463C3C;
  }

  .not-recover{
	font-size:14px;
  font-weight:400;
  color:#687780;
  }
  .btn-delete {
	background-color: #EB2528 !important;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 600;
	border-radius: 8px;
	padding-left: 20px;
	padding-right: 20px;
  }

  .btn-cancel {
	background-color: #1DAB61 !important;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 600;
	border-radius: 8px;
	padding-left: 20px;
	padding-right: 20px;
  }

  .modal-dialog-centered {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh; /* Full height of the viewport */
  }

  .modal-dialog {
	margin: 0 auto; /* Horizontally center the modal */
  }




/*UnRead Message */
/* Style for the icon container */
.icon-container {
    position: fixed;
    /* bottom:90px; */
    right: 30px;
    background-color: #f1f1f1;
    border-radius: 50%;
    padding: 14px 14px 12px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect for the icon container */
.icon-container:hover {
    background-color: #e0e0e0;
}

/* Style for the notification count badge */
.notification-count {
    position: absolute;
    top: -9px;
    left: -6px;
    background-color: #34c759;
    color: white;
    font-size: 11px;
    font-weight: bold;
    border-radius: 50%;
    /* display: none; */
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
}


/* Style for the icon (down arrow) */
.icon {
    font-size: 24px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SVG style */
.icon svg {
    width: 18px;
    height: 18px;
}

.icon svg path {
    fill: #687780; /* Color for the down arrow */
}

/* When the icon container is hidden */
.icon-container.hidden {
    display: none;
}

.notification-wrapper {
position: relative;
display: flex;
align-items: center;
justify-content: center;
height: 52px;
margin-bottom: 30px;
padding: 10px;
margin-top:20px;
}
.no-messages-found{
	text-align: center;
	margin-top:50px ;
}
.notification-wrapper svg {
position: absolute;
top: 0;
left: 0;
width: 814px;
height: 52px;
z-index: 1;
}

.unread-messages {
position: relative;
z-index: 2;
display: inline-block;
padding: 10px 16px;
background-color: white;
border-radius: 20px;
font-size: 13px;
font-weight: bold;
color: #463C3C;
/* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
text-align: center;
font-family: 'Open Sans', sans-serif;
}
.notification-wrapper{
background-color: rgba(255, 255, 255, 0.5);

}




/* Sidebar */
#sidebar {
	width: 34%; /* Sidebar takes 20% of the width */
	height: 100%;
	background-color: #ffffff;
	position: fixed;
	top: 0;
	right: -20%; /* Sidebar is initially hidden */
	transition: right 0.3s ease;
	z-index: 999;
	box-shadow: -2px 0 5px rgba(0,0,0,0.1);
}
/* Open/Close classes */
#sidebar.sidebar-open {
	right: 0; /* Sidebar visible */
}

#sidebar.sidebar-closed {
	right: -34%; /* Sidebar hidden */
}

.additional_style{
	padding:12px 15px 10px 12px;
	 border-radius:5px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
	
	#sidebar {
	  width: 100%;
	}
	#sidebar.sidebar-closed {
		right: -100%; /* Sidebar hidden */
	}
	/* .additional_style{
		padding:7px !important;

	} */

	.profile_img{
		margin-left:6px !important;
		margin-right:12px !important;
	}
	.search-bar{
		border-radius:35px !important;
	}
	.icon-container{
		right:15px;
	}
	.chat_list_view{
		padding: 0px;
	}
	.audio-width{
	width: 100% !important;
	}

  }

#search-icon.icon-move-left {
	right: auto;
	left: 10px;  /* Move to the left when the sidebar is open */
}

/* Adjust container when sidebar is open */
.container-fluid.sidebar-open {
	width: 80%; /* Reduce width to 80% when sidebar is open */
	margin-right: 25%; /* Make room for the sidebar */
}

/* Search Header */
.search-header {
	padding: 15px;
	background-color: #ffffff;
	box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

/* Search Input */
.search-input {
	background-color: #F0F2F5;
	width: 100%;
	padding: 6px;
	padding-right: 10px;
	border: none;
	border-radius: 5px;
	outline: none;
}

/* Search Results */
.search-results {
	padding: 15px 15px 15px 0px;
	overflow-y: auto;
	height: calc(100% - 60px);
	cursor: pointer;
	height: 540px;
}

/* Result Item */
.result-item {
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.result-date {
	font-size: 12px;
	color: #999;
}

.result-text {
	font-size: 14px;
    color: #333;
    overflow-wrap: break-word; 
    white-space: normal; 
    overflow: visible;
}
.search-header {
display: flex;
align-items: center;
flex-wrap: nowrap;
}

.search-input {
margin-left: 8px; /* Adjust spacing as needed */
}

.search-input {

box-sizing: border-box;
border-radius: 10px;
font-size: 16px;
background-color: #F0F2F5;
background-image: url('../img/search-back-icon.png');
background-position: 10px 50%;
background-repeat: no-repeat;


padding: 10px 20px 10px 40px;


}




.close-button {
background: none;
border: none;
outline: none;
font-size: 36px;
cursor: pointer;
position: absolute;
top: 12px;
left: 10px;
color:#687780;
}
.close-button:focus{
	outline: none;
}

.header-shadow {
/* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); Adjust the values as needed */
}





.search-bar {
	display: flex;
	margin-top: 8px;
	background-color: #f0f0f0;
	padding: 8px;
	border-radius: 10px;
	max-width: 530px;
  }

  .search-bar i {
	color: #999;
	font-size: 18px;
	margin-top: 5px;
	padding-left: 5px;
 }

  .search-bar input {
	background-color: #f0f0f0; /* Background color of the input field */
	border: none;
	outline: none;
	padding: 2px 10px 2px 20px; /* Extra padding on the left for the icon */
	font-size: 16px;
	border-radius: 10px;
	width: 100%; /* Ensure input takes full width of the container */
	box-sizing: border-box; /* Ensure padding is included in the width calculation */
  }



  .buttons {
	margin-top: 10px;
	padding-bottom:10px ;
	border-bottom: 1px solid #ddd;
  }
  .button {
	background-color: #f0f2f5 !important;
	color: #687780;
	padding: 5px 22px 5px 22px;
	border-radius: 50px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
  }
  .button.active {
	background-color: #E7FCE3 !important;
	border:none;
	color: #000;
  }
  .button:focus {
    outline: none;
}


.username-container {
padding-top:8px;
display: flex;
flex-direction: column;
align-items: start;
}

.username-container small {
padding: 0;
font-size: 16px;
color: #666;
}
.username-container .font-weight-bold{
  color: #463C3C;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.username-container .text-muted{
  color: #687780;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.profile-icons{
	margin-left: 58px;
	margin-top: 5px;
	padding: 5px;
}
.profile-setting-name{
	margin-left: 15px;
	font-weight: bold;
}
.chat-input-container {
		  display: flex;
		  align-items: center;
		  background-color: #F0F2F5;
		  padding: 10px;
		  width: 100%;
		  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
		  overflow-y: auto;
	  }

	  .chat-input {
		  flex-grow: 1;
		  border: none;
		  outline: none;
		  background-color: transparent;
		  padding: 10px;
		  font-size: 16px;
		background-color: #ffffff;
		border-radius:10px;
	  }

	  .chat-input:focus {
		  outline: none;
	  }

	  .chat-icon {
		  margin-right: 10px;
		  color: #666;
		  font-size: 24px;
	  }




	  i#voice-icon {
		margin-left: 10px;
		margin-top: 8px;
	}

	#correction-div{
	padding-right:30px;
	padding-left:30px;
	padding-top:10px;
}

	@media (max-width: 768px) {
		#voice-icon {
			margin-top: 7px !important;
		}
		#correction-div{
			padding-right: 15px !important;
    padding-left: 12px !important;
    padding-top: 10px !important;
		}
	}

#action-bar{
	padding: 17px;
}


	.chat-action-icons i {
		margin-top: 13px;
	}


	  .chat-action-icons i {

		  color: #666;
		  font-size: 24px;
		  cursor: pointer;
	  }

	  .chat-action-icons i:hover {
		  color: #333;
	  }

	  .chat-action-icons .send-icon {
		  background-color: #00BFA5;
		  color: white;
		  padding: 8px;
		  border-radius: 50%;
	  }

	  .recording {
		  color: #FF0000;
	  }


	  .sticker-menu {
		  display: none;
		  position: absolute;
		  background: #fff;
		  border: 1px solid #ddd;
		  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
		  padding: 10px;
		  border-radius: 5px;
	  }

	  .sticker-menu img {
		  width: 50px;
		  height: 50px;
		  cursor: pointer;
		  margin: 5px;
	  }

	  .sticker-menu img:hover {
		  opacity: 0.8;
	  }

	  /* Hide the file input */
	  #file-input {
		  display: none;

	  }
	  .chat-action-icons {
  	margin-left: -80px;
  	display: flex;

       }
	   #chat_action:focus {
		outline: none; /* Removes the default outline */
	}


	   .Editchat-action-icons {
		margin-left: 6px;
			 }





.right-nidle {
	position: relative;
	padding: 10px 15px;
	border-radius: 6px;
	float: right;
	right: 20px;

  }

  .right-nidle::before {
	content: '';
	position: absolute;
	visibility: visible;
	top: -1px;
	right: -10px;
	border-top: 10px solid #ccc;
  }

  .right-nidle::after {
	content: '';
	position: absolute;
	visibility: visible;
	top: 0px;
	right: -5px;
	border: 10px solid transparent;
	border-top: 10px solid #dcf8c6;
	clear: both;


  }

  div{
	clear: right;
  }

  .right-nidle img {
	  display: block;
	  height: auto;
	  max-width: 100%;
  }

  .left-nidle {
	position: relative;
	text-align: left;
	padding: 10px 15px;
	border-radius: 6px;
	float: left;
	left: -10px;

  }

  .left-nidle::before {
	content: '';
	position: absolute;
	visibility: visible;
	top: -1px;
	left: -10px;

	border-top: 10px solid #ccc;
  }

  .left-nidle::after {
	content: '';
	position: absolute;
	visibility: visible;
	top: 0px;
	left: -5px;
	border: 10px solid transparent;
	border-top: 10px solid #ffffff;
	clear: both;

  }

  div{
	clear: left;
  }

  .left-nidle img {
	  display: block;
	  height: auto;
	  max-width: 100%;
  }


.list-user-name{
	color:#463C3C;
	font-size: 16px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
}
.pointerr,
.chat-radio{
	cursor: pointer;
}
.last-message{
color: #687780;
font-size: 14px;
font-weight: 400;
font-family: 'Open Sans', sans-serif;
}

body{
	font-family: 'Open Sans', sans-serif;
}




::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.3);
}

#main-container {
	width: 100vw;
	height: 100vh;
}

#navbar {
	background: #F0F2F5;
	height: 77px;
	border-right: 1px solid #ddd ;
}

.dropdown-toggle::after {
	display: none;
}
.chat-row {
	overflow-y:auto;
	height: 520px;
    box-sizing: border-box;
	scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

#chat-list2::-webkit-scrollbar,.chat-row::-webkit-scrollbar {
    width: 6px;
}

#chat-list2::-webkit-scrollbar-track,.chat-row::-webkit-scrollbar-track {
    background: transparent;
}

#chat-list2::-webkit-scrollbar-thumb,.chat-row::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

#chat-list2::-webkit-scrollbar-thumb:hover,.chat-row::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}



.chat-list-item {
	background: white;
	cursor: pointer;
}

.chat-list-item:hover {
	background: hsl(0, 0%, 95%);
}

.chat-list-item:active {
	background: hsl(0, 0%, 85%);
}

.chat-list-item.active {
	background: hsl(0, 0%, 90%);
}

.chat-list-item .chat-details {
	width: 60%;
}

.chat-list-item .last-message,
#message-area #navbar #details {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* Navbar styling */
#side_navbar {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
	background: #F0F2F5;
	height: 77px;
	z-index: 2;
	position: fixed;
}

/* Back arrow styling */
.back-arrow {
    display: none;
    margin-right: 10px;
}

.back-arrow i {
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
	margin-left:15px ;
}

/* Profile image styling */
.profile-pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
	margin-left: 20px;

}

/* Profile details styling */
.profile-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Take up available space */
    overflow: hidden;
}

.name {
    font-weight: bold;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.details {
    font-size: 0.9rem;
    color: #666;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Search icon styling */
.search-icon {
    margin-left: auto;
	margin-right: 35px;
}

.search-icon i {
    font-size: 1.4rem;
    color: #687780;
}
#search-icon-mobile{
	display: none;
}

/* Responsive design for small screens */
@media (max-width: 768px) {
    .back-arrow {
        display: block;
    }
	.profile-pic {
		margin-left: 0px;
	}

    .search-icon {
		margin-right: 15px;
    }
	#search-icon{
		display: block;
	}
	.chat-row
	{
		height: 100%;
	}
	.right-nidle {
		right: 0px;
	}
	.search-results{
		height: 80%;
	}

}

#message-area .overlay {
	background: #f0f2f5;
}

#input-area {
	background: hsl(0, 0%, 95%);
    position: fixed;
    bottom: 0px;
	/* width: 100%; */

}

#input-area #input {
	outline: none;
}
#input {
	overflow-y: hidden;
	resize: none;
  }

.message-item {
	position:relative;
	max-width: 75%;
	word-break: break-word;
}

.message-item .number {
	color: #1f7aec !important;
}
.message-item .options {
	position: absolute;
	top: 0;
	right: -3px;
	opacity: 0;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
}
.message-item:hover .options {
	opacity: 1;
	right: 0;
}

#messages {
	flex: 1!important;
	overflow: auto;
	overflow-x: hidden;
	background-image: url('../img/messages-background.png');
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 74px;
    margin-top: 77px;
}

#profile-settings {
	position: absolute;
	top: 0;
	left: -110%;
	background: hsl(0, 0%, 95%);
	transition: all 0.2s ease-in;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
}

#profile-pic {
	cursor: pointer;
	position: relative;
	width: 150px;
}
.choose-profile-images{
	border: 1px solid #ddd;
	border-radius: 50%;
	margin: 12px;
}
.profile-input-wrapper{
	border-bottom: 1px solid #ddd ;
}
.choose-profile-images.active{
	border: 2px solid black;
}
.profile-name-container{
	padding-left: 40px;
}
.profile-input {
	border: none;
	outline: none;
	margin-left: 37px;
	width: 90%;
}

.profile-input:focus {
	border-bottom-color: hsl(0, 0%, 50%) !important;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}



/* capture image css */

#camera-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#camera-stream {
    width: 100%;
    height: 100%;
    background: #000;
}
#capture-btn, #close-btn {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: white;
    border: none;
    cursor: pointer;
}
#close-btn {
    bottom: 20px; /* Position close button at the bottom */
}
#switch-camera-btn {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: white;
    border: none;
    cursor: pointer;
}
#photo {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
#photo-options {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#captureid {
    cursor: pointer;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    border: none;
    margin: 5px;
    cursor: pointer;
}

#hidden-file-input
{
    display: none;
}
.reply-message-div {
	cursor:pointer;
    align-items: center;
    justify-content: space-between;
    background-color: #D1F4CC;
    border-radius: 10px;
    padding: 10px 15px;
    max-width: 300px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
  .reply-details {
    flex-grow: 1;

  }
.reply-message-area{
	padding-top: 11px;
}


.file-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D1F4CC;
    border-radius: 10px;
    padding: 10px 15px;
    max-width: 300px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }

  .file-icon, .download-icon {
    flex-shrink: 0;
  }

  .file-icon svg, .download-icon svg {
    width: 24px;
    height: 24px;
    fill: #54656f;
  }

  .file-details {
    flex-grow: 1;
    margin-left: 10px;
  }

  .file-name {
    font-size: 16px;
    color: #1b1b1b;
    margin: 0;
    font-weight: 500;
  }

  .file-size {
    font-size: 14px;
    color: #54656f;
    margin: 0;
  }

  .highlight {
    background-color: #E0F34A;
}

/* No Group Found */
.no-groups-found,.heading,.no-results {
    text-align: center;
    padding: 20px;
	font-size: 14px;
	color:#666;
}

.no-groups-found h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.no-groups-found p {
    font-size: 18px;
    color: #666;
}

/* Message Heading */
.heading {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    width: 100%;
    text-align: start;
  }

  .heading h2 {
    margin-top: 0;
    font-size: 18px;
    color: #666;
  }

  .cursor{
	cursor: pointer;
  }
.profile_img{
	margin-left:10px;
	margin-right:25px;
	height:51px;
	width:51px;
	cursor:pointer;
}
#logout{
	background-color:#1DAB61;
	color:white;
	border-radius: 10px;
	padding-inline:20px;
}
.blur{
	filter: brightness(0.8) !important;
	transition: filter 0.3s ease;
	pointer-events: none;
}
.lazy_spinner {
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-top: 6px solid #1DAB61;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    animation: spin 1s linear infinite;
    transition: top 0.4s ease-in-out;
	z-index: 1;

}

@keyframes spin {
    0% { transform: translateX(-50%) rotate(0deg); }
    100% { transform: translateX(-50%) rotate(360deg); }
}

.show-spinner {
    top: 85px;
}

.hide-spinner {
    top: -50px;
}
.over_lay_loader{

	filter: brightness(0.9) !important;
}
/* Webkit-based browsers (Chrome, Safari) */
#messages::-webkit-scrollbar {
    width: 7px;
}

#messages::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#messages::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

#messages::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Firefox */
#messages {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}
.w-90{
	width: 95%;
	margin: 0;
	padding: 0;
	/* white-space: pre-line; */
}
.custom-shadow{
	box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
	border-radius: 8px;
	border: none;
	font-size: 14px;

}

@media (max-width: 575.98px) {

    #input-area {
        width: 100%;
    }
	#side_navbar{
		width: 100%;
	}
	#messages{
		height: 100%;
	}
	.choose-profile-images {
		margin: 5px;
	}
	.profile-icons{
		margin-left: 35px;
	}
	.profile-name-container{
		padding-left: 10px;
	}
}


@media (min-width: 576px) and (max-width: 767.98px) {

    #input-area {
        width: 58%;
    }
	#side_navbar{
		width: 58%;
	}
	.audio-width{
		width: 100%;
	}
}

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    #input-area {
        width: 68%; /* 80% width for medium screens */
    }
	#side_navbar{
		width: 68%;
	}
	.chat-row{
		height: 710px;
	}
}

/* Large devices (large desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    #input-area {
        width: 67%;
    }
	#side_navbar{
		width: 67%;
	}
	.chat-row{
		height: 710px;
	}
}

/* Extra large devices (larger desktops, 1200px and up) */
@media (min-width: 1200px) {

    #input-area {
        width: 67%;/* Fixed width for extra large devices */
    }
	#side_navbar{
		width: 67%;
	}
	.search-results{
		height: 580px;
	}
	.chat-row{
		height: 710px;
	}
}

/* For very large screens (over 1600px) */
@media (min-width: 1600px) {

    #input-area {
        width: 67%;
	}
	#side_navbar{
		width: 67%;
	}
	.chat-row{
		height: 710px;
	}
	.search-results{
		height: 765px;
	}
}


.right-nidle::before,
.right-nidle::after {
    pointer-events: none;
}

.msg_deleted{
	background-color: #f4baba !important;
}
.deleted_niddle::after{
	border-top: 10px solid #f4baba !important;
}
#onesignal-bell-launcher{
	bottom: unset !important;
	right:unset !important;
}
.onesignal-bell-container{
	position: absolute !important;
	bottom: 200px !important;
	right: 60px !important;

}
.group-imgg{
margin-right:12px;
border-radius: 50%;
/* border:1px solid #ddd; */
border:none;
width: 60px;
}
.group-imgg svg{
    width: 100%;
}
